// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f0e8e4;
}

h2 {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.83em 0;
}